@media screen{
    BODY {
        font-family: 'Oswald', sans-serif;
        
        }
        H1,H2,{
            color: #101311;
        }
        span{
            background-color: #c8d1cb
        }
}
.column {
    float: right;
    width: 45%;
    padding: 30px;
}
.column-img img {
    vertical-align: middle;
}
.column-img{
    width: 45%;
    float: left;
    padding: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media (max-width: 600px) {
    .column {
        width: 100%;
    }
@media print {    
    BODY {
        font-family: 'Oswald', sans-serif;
        
        }
        H1,H2,P{
            color: #101311;
        }
    }
}
