
@media screen{
    BODY {
        font-family: 'Oswald', sans-serif;
        background-color: lightblue;
        
        }
        H1,H2,{
            color: #101311;
        }
        span, em{
            font-weight: bold;
        }
        p{
            text-align: justify;
        }
        
}
.main-menu{
    overflow: hidden;
    background-color: #3a73a8;  
}
.main-menu a{
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}
.dropdown-btn{
    background-color: #3a73a8;
    font-family: 'Oswald', sans-serif; 

}

.dropdown{
    float:right;
    overflow: hidden;
}

.dropdown .dropdown-btn{
    border: none;
    outline: none;
    color: white;
    padding: 12px 14px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color:#4b8dc4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    float: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 61px;
}
.dropdown-content a:hover, .dropdown-btn:hover{
    background-color: #4b8dc4
}
.dropdown:hover .dropdown-content{
    display: block;
}
.main-menu::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}

.column {
    float: right;
    width: 50%;
}

.column-img{
    width: 50%;
    float: left;    
}
.column-img-wrapper{
    text-align: center;
    width: 100%;
}

.column-img-wrapper img {
    width: 50%;
}

.product-name{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.round {
    border-radius: 100px; 
    border: 3px solid rgb(109, 109, 109); 
    box-shadow: 0 0 7px rgb(194, 194, 194); 
   }
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
@media screen and (max-width: 1080px){
    .column-img,
    .column {
        float: none;
        width: 100%;
    }
}
